python-telegram-bot[socks]==20.3
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
python-dotenv==1.0.0
pydantic==1.10.7
python-dateutil==2.8.2
fastapi==0.95.0
uvicorn==0.21.1
nest-asyncio==1.5.6
pyngrok
jinja2==3.1.2